
.reservation-confirm table {
    height: 200px;
}

.btn-confirm .btn-submit {
    margin-bottom: 10px;
    width: 150px;
}

.reservation-complete table {
    height: 200px;
    margin-left: 20px;
}

.reservation-complete th, .reservation-complete td {
    border-bottom: 1px solid #eaedef;
    width: 200px;
    margin-right: 70px;
}
